#imgtn{
    height: 100px;
    width: 100px;
    float:left ;
    cursor: pointer;
    opacity: 70%;    
}
#photoTitle{
    margin-left: 25px;
}
#preview{
    height: 200px;
    width: 400px;
    margin-left: 25px;
}
.img-prev{

}
.active{
    border:2px solid #222;
}